.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

.audio-player{
    background-color: #111;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    font-family: "Arial";
    width: 450px;
}

.audio-player audio {
    display: block;
    width: 100%;
}

.audio-player ul, .audio-player ol{
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

.audio-player ul li, .audio-player ol li{
    padding: 0;
    margin: 0;
}

.audio-player-now-playing{
    font-size: small;
    text-align: center;
    border-bottom: groove 2px #333;
    height: 20px;
}

.audio-controls{
	padding: 5px;
}

.audio-playlist-container{

}



.audio-playlist-tools{
    cursor: pointer;
    border-top: groove 2px #333;
    border-bottom: groove 2px #333;
    font-size: large;
}

.audio-playlist-tool{
}

.audio-playlist-next{
    float: right;
}

.audio-playlist-prev{
    float: left;
}

.audio-playlist{

}

.audio-track{
    cursor: pointer;
    padding: 5px;
    padding-left: 1em;
}

.audio-track.selected-track{
    background-color: #444;
}

.audio-track:not(.selected-track):hover{
    background-color: #222;
    text-decoration: underline;
}

.audio-scrubber{
	float: left;
	width: 70%;
	margin-left: 10px;
	margin-right: auto;
	height: 15px;
	padding: 0;
	background-color: #222;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
}

.audio-counter{
	position: absolute;
	top: 0;
	font-size: x-small;
	background-color: #222;
	opacity: 0.8;
	color: #fff;
	height: 100%;
}

.audio-counter-time{
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
}

.audio-scrubber-progress{
	height: 100%;
	width: 0%;
	background-color: #fff;
}

.audio-player-playback-toggle{
	float: left;
	width: 15px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: small;
	color: #fff;
	margin: 0;
	background-color: #111;
	text-align: center;
	cursor: pointer;
}

.audio-player-playback-toggle .toggle-button{
	vertical-align: text-top;
}

.toggle-button.playing{
}

.audio-player-volume{
	float: right;
	width: 75px;
	height: 15px;
}

.audio-player-volume span{
	width: 25%;
	height: 100%;
}

.audio-player-volume-container{
	float: right;
	clear: left;
	position: relative;
	width: 70%;
	height: 100%;
	border: solid 1px #444;
	border-radius: 5px;
	cursor: pointer;
}

.audio-player-volume-bar{
	position: absolute;
	background-color: #444;
	height: 100%;
}
