.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

.audio-player{
    background-color: #111;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    font-family: "Arial";
    width: 450px;
}

.audio-player audio { 
    display: block;
    width: 100%;  
}

.audio-player ul, .audio-player ol{
    list-style-type: none;  
    padding: 5px;
    margin: 0;
}

.audio-player ul li, .audio-player ol li{
    padding: 0;
    margin: 0;
}

.audio-player-now-playing{
    font-size: small;
    text-align: center;
    border-bottom: groove 2px #333;
    height: 20px;
}

.audio-controls{
}

.audio-playlist-container{
    
}



.audio-playlist-tools{
    cursor: pointer;
    border-top: groove 2px #333;
    border-bottom: groove 2px #333;
    font-size: large;
}

.audio-playlist-tool{
}

.audio-playlist-next{
    float: right;
}

.audio-playlist-prev{
    float: left;
}

.audio-playlist{
    
}

.audio-track{
    cursor: pointer;
    padding: 5px;
    padding-left: 1em;
}

.audio-track.selected-track{
    background-color: #444;
}

.audio-track:not(.selected-track):hover{
    background-color: #222;
    text-decoration: underline;
}